header {
  background-image: linear-gradient(to top, #fc6076 0%, #ff9a44 100%);
  padding: 70px 0;
  color: #FFFFFF;
  box-shadow: inset 0px -5px 20px rgba(0,0,0,0.25);
  transition: all 0.5s;
} 

header.small {
  padding: 50px 0;
} 

header.small .logo {
  max-width: 150px;
}

header.small p.lead {
  font-size: 1.5em;
}

header .logo {
  max-width: 250px;
  margin-bottom: 15px;
}

header .logo:hover {
  cursor: pointer;
}

header p.lead {
  font-weight: 500;
}
